.trackAlbumList{
    box-sizing: border-box;
    display: block;
    width: 100%;
    clear: both;
    overflow: auto;
}

.titleTrackAlbumList{
    box-sizing: border-box;
    font-size: 1rem;
    float: left;
    margin-left: 2%;
}

.favImg{
    box-sizing: border-box;
    float: right;
    margin-right: 2%;
    height: 30px;

    position: relative;
    top: 50%;
    transform: translateY(30%);
}

.favImg:hover{
    zoom: 1.2;
}

.trackAlbumList:nth-child(odd) {background: #CCC}
.trackAlbumList:nth-child(even) {background: #FFF}