.track{
    box-sizing: border-box;
    float: left;
    padding: 1%;
    width: 48%;
    margin: 1%;
    border: 1px solid black;
    height: 120px;
    background-color: beige;
    box-shadow: inset 1px 1px 50px #000;
}

.imgTrack{
    box-sizing: border-box;
    float: left;
    width: 30%;
    padding: 1%;
    max-width: 120px;
}

.infoTrack{
    box-sizing: border-box;
    float: left;
    width: 60%;

}

.titleTrack{
    font-size: 1rem;
    font-weight: bold;
    clear: both;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.artistTrackName,
.albumTrackName {
    font-size: 0.75rem;
    clear: both;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.iconStarSelected{
    float: right;
    width: 8%;

}

.iconStarSelected:hover{
    width: 10%;
}

/*Mobile*/
@media screen and (max-width: 600px){
    .track{
        display: block;
        width: 100%;
    }
}
