.artist{
    box-sizing: border-box;
    float: left;
    padding: 1%;
    width: 48%;
    margin: 1%;
    border: 1px solid black;
    height: 120px;
}

.artist:hover {
	background-color: rgba(0,0,0,0.5);
}


.imgArtist{
    box-sizing: border-box;
    float: left;
    width: 30%;
    padding: 1%;
}

.infoArtist{
    box-sizing: border-box;
    float: right;
    width: 70%;

}

.nameArtist{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 5%
}


/*Mobile*/
@media screen and (max-width: 600px){
    .artist{
        display: block;
        width: 100%;
    }
}