.album{
    box-sizing: border-box;
    float: left;
    padding: 1%;
    width: 48%;
    margin: 1%;
    border: 1px solid black;
    height: 120px;
}

.albumOnlyInfo{
    box-sizing: border-box;
    display: block;
    padding: 1%;
    width: auto;
    margin: 1%;
    border: 1px solid black;
    height: 200px;
}

.album:hover {
	background-color: rgba(0,0,0,0.5);
}


.imgAlbum{
    box-sizing: border-box;
    float: left;
    width: 30%;
    max-width: 120px;
    padding: 1%;
}
.imgAlbumInfo{
    box-sizing: border-box;
    float: left;
    width: 30%;
    max-width: 200px;
    padding: 1%;
}

.infoAlbum{
    box-sizing: border-box;
    float: right;
    width: 70%;

}

.nameAlbum{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 5%
}

.artistAlbum,
.yearAlbum{
    font-size: 1rem;
    margin-left: 5%
}




/*Mobile*/
@media screen and (max-width: 600px){
    .album{
        display: block;
        width: 100%;
    }
}