.albumDisc{
    box-sizing: border-box;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    overflow: auto;
    padding: 0% 15%;
}
.tracksList{
    display: block;
    width:auto;
}

.albumDiscTitle{
    background-color: rgba(179, 171, 171, 0.726);
}