
.header {
    float: none;
    border: 1px solid black;
    overflow: auto;
    padding: 2%;
    width: auto;
    height: 50px;
}


.logo-header{
    height: 40px;
    width: 40px;
    box-sizing: border-box;
}




