
.header {
    float: none;
    overflow: auto;
    padding: 2%;
    width: auto;
    height: 80px;
    margin-bottom: 1%;
}


.logo-header{
    height: 60px;
    width: 60px;
    box-sizing: border-box;
}

img.horizontal-center{
    margin-top: 10px;
}




