body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgba(197, 214, 191, 0.356);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

html{
    font-size: 16px;
}


.horizontal-center{   
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translate(0, -50%)
}

.pathNav{
    display: block;
    box-sizing: border-box;
    margin-bottom: 2%;
    float: none;
    margin-left: 1%;
}