.artistSearchView {
    display: block;
    width: auto;
    padding: 0% 10%;

    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}


.artistSearchView .search-field {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10%;
}

.infoArtistSearchView {
    display: block;
    margin-bottom: 10%;
    width: auto;
}

.artistSearchView h2 {
    float: none;
    margin-left: 0%;
}